.menu{
   display:flex;
   justify-content: space-around;
   padding: 15px;
   font-size: 20px;
   font-family: sans-serif;
   font-weight: 400;
   color: white;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  padding: 10px;
}

.grid img{
  border:2px yellow;
  border-radius:50px;
}

body{
    margin: 0px;
    background-color: orange;
}

.origami{
 background-color: purple;
 border-radius: 20px;
 width:300px;
 font-family: fantasy; 
 margin-left: 50px;
 padding: 10px;  
}